<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/home.css">
   <title>MUSIC TRACKER</title>
</head>

<body>
    {{template "header"}}
    <main>
        <div class="presentation">
            <h2> Nous vous invitons à naviguer sur les différentes pages : <a href="/artistes">Artistes</a>, <a href="/locations">Maps</a> et <a href="/events">Concerts</a> </h2>
        </div>
    </main>
</body>
</html>