.wrapper {
    width: 100%;
    height: 100%;
    background:#48654f;
    background-size: 600% 100%;
    animation: gradient 15s linear infinite;
    animation-direction: alternate;
  }
   
  body, html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  * {
    margin: 0px 0px 0px 0px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 90vw;
    max-width: 1000px;
    height: 90vw;
    max-height: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;
   
  }
  
  .filter-inputs {
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
   .cb {
     margin-bottom: 10px;
    font-size: 22px;
   }
  
  
  
  
   button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border: 1px solid white;
    height: 34px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  
  
  .artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
    scrollbar-color: rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.3);
    scrollbar-width: thin;
   
    
  }
  
  .artist {
    width: 300px;
    
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 0px 10px 20px 10px;
  }
  
  .cover {
    padding: 10px;
    border-radius: 5px;
  }
  
  .info {
    overflow: auto;
    color: white;
    font-size: 16px;
   
  }
  
  .title {
    margin-bottom: 10px;
  }
  
  a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  
  .img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
  
  @media all and (max-device-width: 1366px) {
    .container {
      padding: 10px;
      justify-content: center;
      height: 80vh;
      overflow: scroll;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .artist {
      width: 220px;
    }
  }
  
  @media all and (max-device-width: 1200px) {
    .wrapper {
      display: none;
    }
    .container {
      padding: 10px;
      justify-content: center;
      display: table;
      height: 80vh;
      overflow: scroll;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    .artist {
      width: 90vw;
    }
  }