body {
    background-color: rgb(192, 27, 36);

}
*{
    margin: 0;
    padding: 0;
}

.hear{
    display: flex;
    flex: auto;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
} 

header{
    background-color: black;
    height: 250px;
    left: 0px; 
    
}
.logo{
    margin-top: 20px;
    width : 290px;
    height : 220px; 
    cursor: pointer;
    border-radius: 50%;
    left: 50%;
}

ul{
    display: flex;
   justify-content: space-around;
}

li{
    list-style-type: none;
    width: 20%;
    height: 300px;
    left: 78px;
    top: 470px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}


#id,
#img,
#mem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.box,
.box2{
    padding: 15px;
}

/* .box {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.box2{
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
} */



/* li{
    list-style-type: none;
    font-size: 0,7rem;
    position: absolute;
    width: 422.23px;
    height: 201.67px;
    left: 78.41px;
    top: 318.66px;
} */
