<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Music Tracker</title>
	<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div class="Accueil">
            <h1>Music Tracker</h1>
            <form action="/Login" method="POST">
                <input type="text" name="Search" placeholder="Enter your research">
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
    <footer>
         <nav>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Informations</a></li>
            <li><a href="#">Team</a></li>
        </ul>
    </nav>
</footer>
</html>