<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localisation Page</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">
	<!DOCTYPE html>
<html>
    <head>
    <body>
        <div class="Map">
            <h1>Localisation/h1>
            <form action="/Login" method="POST">
                <input type="text" name="Search" placeholder="Enter your research">
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>