<!DOCTYPE html>
<html lang="en">

<header>  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">

    <span< /h3>
            <div class="nav-container"><a class="nav-tab" href="#tab-Artist">Artist</a><a class="nav-tab"
                    href="#tab-Music">Music</a><a class="nav-tab" href="#tab-Concert">Concert</a><a class="nav-tab"
                    href="#tab-Q&A">Q&A</a><a class="nav-tab" href="#tab-Contact">Contact</a><span
                    class="nav-tab-slider"></span>
            </div>
</header>

<body>
    <section class="nav">
        <h1> 🎶 Music Tracker 🎶 </h1>

        <h3 class="span loader"><span class="m">W</span><span class="m">E</span><span class="m">L</span><span
                class="m">C</span><span class="m">O</span><span class="m">M</span><span class="m">E</span><span
                class="m">&nbsp</span><span class="m">T</span><span class="m">O</span><span class="m">&nbsp</span><span
                class="m">M</span><span class="m">U</span><span class="m">S</span><span class="m">I</span><span
                class="m">C</span><span class="m">&nbsp</span><span class="m">T</span><span class="m">R</span><span
                class="m">A</span><span class="m">C</span><span class="m">K</span><span class="m">E</span><span
                class="m">R</span>
        </h3>
    </section>

    <main id = "nav" class="main">
        <section class="slider" id="tab-Artists">
            <h1>Artists</h1>
            <h2>Artists list</h2>
        </section>
        <section class="slider" id="tab-Music">
            <h1>Music</h1>
            <h2>Music list</h2>
        </section>
        <section class="slider" id="tab-Concert">
            <h1>Concert</h1>
            <h2>Concert list</h2>
        </section>
        <section class="slider" id="tab-Q&A">
            <h1>Q&A</h1>
            <h2>All Q&A</h2>
        </section>
        <section class="slider" id="tab-Contact">
            <h1>Contact</h1>
            <h2>Contact list</h2>
        </section>
    </main>
    <canvas class="background"></canvas>
    </div>
    </div>
    </form>
    </div>
</body>

</html>