<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Tracker</title>
    <link rel="stylesheet" href="/static/artist.css">
    <link rel="shortcut icon" href="/static/imgs/logo.ico" type="image/x-icon">
</head>
</header>
<div class="nav-container">
    <span class="nav-tab" href="#tab-Home">Home</span>
    <span class="nav-tab" href="#tab-Artist">Artist</span>
    <span class="nav-tab" href="#tab-Map">Map</span>
    <span class="nav-tab" href="#tab-Contact">Contact</span>
</div>
</header>

<body>

    <section class="nav">
        <h1> 🎶 Music Tracker 🎶 </h1>
        <h3 class="span loader">

            <span class="m">W</span>
            <span class="m">E</span>
            <span class="m">L</span>
            <span class="m">C</span>
            <span class="m">O</span>
            <span class="m">M</span>
            <span class="m">E</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">O</span>
            <span class="m">&nbsp</span>
            <span class="m">M</span>
            <span class="m">U</span>
            <span class="m">S</span>
            <span class="m">I</span>
            <span class="m">C</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">R</span>
            <span class="m">A</span>
            <span class="m">C</span>
            <span class="m">K</span>
            <span class="m">E</span>
            <span class="m">R</span>
        </h3>
        <form action="/Login" method="POST">
            <input type="text" name="Search" placeholder="Enter your research">
        </form>
    </section>
    <section class="slider" id="tab-Artists">
        <!-- <h1>Artists</h1> -->
    </section>
    <div class="fullcontainer">
        {{range .}}
        <div class="main">
            <p> {{ .Name }} </p>
            <img src="{{.Image}}" alt="">
            {{range .Members}}
            <p> {{.}} </p>
            {{end}}
        </div>
            {{end}}
    </div>
    </div>
    </div>
    </div>
    </form>
    </div>
</body>

</html>