<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Tracker</title>
    <link rel="stylesheet" href="/static/filter.css">
    <link rel="shortcut icon" href="/static/imgs/logo.ico" type="image/x-icon">
</head>

<body>

    <section class="nav">
        <h1> 🎶 Music Tracker 🎶 </h1>
        <h3 class="span loader">

            <span class="m">W</span>
            <span class="m">E</span>
            <span class="m">L</span>
            <span class="m">C</span>
            <span class="m">O</span>
            <span class="m">M</span>
            <span class="m">E</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">O</span>
            <span class="m">&nbsp</span>
            <span class="m">M</span>
            <span class="m">U</span>
            <span class="m">S</span>
            <span class="m">I</span>
            <span class="m">C</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">R</span>
            <span class="m">A</span>
            <span class="m">C</span>
            <span class="m">K</span>
            <span class="m">E</span>
            <span class="m">R</span>
        </h3>
        <form action="/Login" method="POST">
            <input type="text" name="Search" placeholder="Enter your research">
        </form>

        <div class="wrapper"></div>
        <div class="container">
            <form method="POST" class="filters" action="/filter/all">
                <div class="cb">
                    <p class="cb-title">Filter by:</p>
                    <input type="checkbox" id="cb-cd" onclick="show('cb-cd', 'filter-cd')">
                    <label for="cb-cd"> Creation date</label><br>
                    <input type="checkbox" id="cb-fad" onclick="show('cb-fad', 'filter-fad')">
                    <label for="cb-fad"> First album date</label><br>
                    <input type="checkbox" id="cb-nom" onclick="show('cb-nom', 'filter-nom')">
                    <label for="cb-nom"> Number of members</label><br>
                    <input type="checkbox" id="cb-loc" onclick="show('cb-loc', 'filter-loc')">
                    <label for="cb-loc"> Location</label><br>
                </div>
                <div>
                    <div class="filter-inputs" id="filter-cd" style="display:none">
                        <p>Creation date:</p>
                        <input name="cd-from" placeholder="From">
                        <input name="cd-to" placeholder="To"> <br>
                    </div>
                    <div class="filter-inputs" id="filter-fad" style="display:none">
                        <p>First album date:</p>
                        <input name="fad-from" placeholder="From">
                        <input name="fad-to" placeholder="To"> <br>
                    </div>
                    <div class="filter-inputs" id="filter-nom" style="display:none">
                        <p>Number of members:</p>
                        <input name="nom-from" placeholder="From">
                        <input name="nom-to" placeholder="To"> <br>
                    </div>
                    <div class="filter-inputs" id="filter-loc" style="display:none">
                        <p>Location:</p>
                        <input name="loc"> <br>
                    </div>
                </div>
                <button type="submit">Filter</button>
            </form>

            <div class="artists">
                {{range $i, $v := .Artists}}
                <div class="artist">
                    <div class="cover"> <img class="img " src="{{.Image}}" alt=""> </div>
                    <div class="info">
                        <p class="title"><a href="/filter/{{.ID}}">{{.Name}}</a></p>
                        <p>Creation date: {{.CreationDate}}</p>
                        <p>First album date: {{.FirstAlbum}}</p>
                        <p>Number of members: {{len .Members}}</p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <script src="/static/filter.js"></script>
</body>

</html>