<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie-tracker</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="../pict/logo.ico" type="image/x-icon" >
</head>
<body>
    <header>
        <div class="hear">
            <img src="../pict/logo.png" class="logo">
            <form class="bar" action="/Login" method="POST">
            <input type="text" name="Search" placeholder="Enter your research">
            <button type="submit">Search</button>
            </form>
        </div>
        
    </header>
    <main>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
            </style>
        <div class="box">
            <ul>
                <li>
                    <a href="">
                        {{range .}} 
                            <p id="id">{{ .Name }}</p>
                            <img id="img" src="{{.Image}}" alt="href">
                            <!-- {{range .Members}} 
                            <p id="mem">{{.}}</p>
                            {{end}} -->
                        {{end}} 
                    </a>
                </li>
                <!-- <li>
                    <a href="Element 2">Element 2</a>
                </li>
                <li>
                    <a href="Element 3">Element 3</a>
                </li>
                <li>
                    <a href="Element 4">Element 4</a>
                </li> -->
            </ul>
            
        </div>
    </main>  
</body>
</html> 