<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Tracker</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/static/map.css">
    <link rel="shortcut icon" href="/static/imgs/logo.ico" type="image/x-icon">
    <script type="module" src="/static/index.js"></script>

</head>
<header>
    <div class="nav-container">
        <span class="nav-tab" href="#tab-Home">Home</span>
        <span class="nav-tab" href="#tab-Map">Map</span>
        <span class="nav-tab" href="#tab-Contact">Contact</span>
    </div>
</header>

<body>
    <section class="nav">
        <h1> 🎶 Music Tracker 🎶 </h1>
        <h3 class="span loader">

            <span class="m">W</span>
            <span class="m">E</span>
            <span class="m">L</span>
            <span class="m">C</span>
            <span class="m">O</span>
            <span class="m">M</span>
            <span class="m">E</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">O</span>
            <span class="m">&nbsp</span>
            <span class="m">M</span>
            <span class="m">U</span>
            <span class="m">S</span>
            <span class="m">I</span>
            <span class="m">C</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">R</span>
            <span class="m">A</span>
            <span class="m">C</span>
            <span class="m">K</span>
            <span class="m">E</span>
            <span class="m">R</span>
        </h3>
        <sectio.nav .nav-container a.nav-tab(href="#tab-Home" ) HOME a.nav-tab(href="#tab-Artist" ) ARTIST
            a.nav-tab(href="#tab-Map" ) MAP span.nav-tab-slider </sectio.nav>
    </section>
    <div id="style-selector-control" class="map-control">
        <select id="style-selector" class="selector-control">
            <option value="default">Default</option>
            <option value="silver">Silver</option>
            <option value="night">Night mode</option>
            <option value="retro" selected="selected">Retro</option>
            <option value="hiding">Hide features</option>
        </select>

    </div>
    <div id="map"></div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4OnjwP-3hpqykIROvV96HobEWtHJPxVA&callback=initMap&v=weekly"
        defer>
        </script>
</body>

</html>