{{define "header"}}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>MUSIC TRACKER</title>
    <link rel="stylesheet" href="../../static/css/header.css">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<header>
    <div>
        <a href='/'><button id="boutons" type="button" onclick=""> Home</button></a>
        <a href='/artistes'><button id="boutons" type="button" onclick=""> 🎸 Artists</button></a>
        <a href='/locations'><button id="boutons" type="button" onclick=""> 🗺️ Maps</button></a>
        <a href='/events'><button id="boutons" type="button" onclick=""> 🎼 Concerts </button></a>
    </div>
    <section class="nav">
        <h1> 🎶 Music Tracker 🎶 </h1>
        <h3 class="span loader">
            <span class="m">W</span>
            <span class="m">E</span>
            <span class="m">L</span>
            <span class="m">C</span>
            <span class="m">O</span>
            <span class="m">M</span>
            <span class="m">E</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">O</span>
            <span class="m">&nbsp</span>
            <span class="m">M</span>
            <span class="m">U</span>
            <span class="m">S</span>
            <span class="m">I</span>
            <span class="m">C</span>
            <span class="m">&nbsp</span>
            <span class="m">T</span>
            <span class="m">R</span>
            <span class="m">A</span>
            <span class="m">C</span>
            <span class="m">K</span>
            <span class="m">E</span>
            <span class="m">R</span>
        </h3>
    </section>
</header>
{{end}}